.banner{
    height: 100%;
    width: 1440;
    height: 652;
    background-image: url(Hero-bg.png);
    background-size: cover;
    margin-top: 100px;
    text-align: center;
    
}
#btn{
   width: 208px;
   height: 66px;
   font-weight: bold;
   color: white;
   background-color: black;
   border-radius: 10px;

}
.wwd{
    text-align: center;
    margin: 857px, 152px, 2993px, 148px;
    border: 16px;
    padding: 80px, 97px;

}
.wwd-about{
    width: 852px auto;
    height: 115px fit-content;
}
#img1{
    width: 259.56px fit-content;
    height: 217.01px fit-content;
}
#img2{
    width: 223.2px fit-content;
    height: 208.85 fit-content;
}
#img3{
    width: 223.2px fit-content;
    height: 208.85 fit-content;
}
.wwd-block{
    padding: 48px;
    display: flex;
    justify-content: space-between;
}
.wwd-block1{
    padding: 48px;
    display: flex;
    /* width: 946px auto; */
    /* height: 336px auto; */
    /* border: unset; */
    justify-content: space-between;
}
.wwd-block2{
    padding: 48px;
    display: flex;
    justify-content: space-between;
}
#yt1{
    /* Rectangle 1 */
position: static;
width: 1076px;
height: 550px;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
}
.my_ins{
    text-align: center;
}
#htmlp{
    /* Group 5 */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}

.my_c_t1{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.support{
width: 1044px;
height: 186px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin: 32px 0px;
    background-image: url(handshake.jpg);

}
.f_c{
    display: flex;
    justify-content: space-between;
    margin: 0, 40px, 0, 40px;
}
